code {
  &:not([class]) {
    background-color: rgb(250, 250, 250);
    padding: 5px;
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
  }
}

strong {
  font-weight: 700;
}

blockquote {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.4em;
  line-height: 1.8em;
}
