:root {
  --primary: #216869;
  --secondary: #49a078;
  --light: #dce1de;
  --dark: #1f2421;
  --text: rgb(58, 58, 58);
  --twitter: rgb(29, 155, 240);
  --link: #0070f3;
  --border: rgb(240, 240, 240);
  --white: rgb(248, 248, 248);
}
